{
	"tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSameLine": true,
    "trailingComma": "none",
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
